<div class="flex flex-col p-10">
  <div class="mb-4 flex flex-row text-4xl">Dashboard</div>
  <div
    class="min-h-40 mb-4 flex w-full flex-col border border-l-gray-300 bg-white p-4 shadow-lg"
  >
    <div class="mb-1 flex flex-col text-xl font-bold">
      lorem ipsum dolor dashboard
    </div>
    <span class="mb-1 w-1/5 bg-gray-400 p-0.5"></span>
    <div class="flex flex-col">
      sit amet consectetur adipisicing elit. Quisquam quos quia quae quod,
      voluptatum, voluptatibus, quibusdam quas quae lorem ipsum dolor sit amet
      consectetur adipisicing elit. Quisquam quos quia quae
      quod,voluptatum,voluptatibus, quibusdam quas quae lorem ipsum dolor sit
      amet consectetur adipisicing elit. Quisquam quos quia quae quod,
      voluptatum, voluptatibus, quibusdam quas quae
    </div>
  </div>
  <div class="mb-4 flex w-full flex-col xl:flex-row">
    <div
      class="mb-2 flex h-[350px] w-full flex-col items-center justify-center border border-l-gray-300 bg-white p-2 shadow-lg xl:mr-2 xl:h-[280px] xl:w-1/2 xl:flex-row"
    >
      <canvas id="MyChart" class="h-full w-full">{{ chart }}</canvas>
    </div>
    <div
      class="flex h-[350px] w-full flex-col items-center justify-center border border-l-gray-300 bg-white p-2 shadow-lg xl:mr-2 xl:h-[280px] xl:w-1/2 xl:flex-row"
    >
      <canvas id="MyChart2" class="h-full w-full">{{ chart2 }}</canvas>
    </div>
  </div>

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>build in card</mat-card-title>
      <mat-card-subtitle>subs</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>This card indeterminates progress bar.</p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam quos,
        cumque expedita corporis eaque quo a distinctio inventore velit totam
        facere necessitatibus fuga explicabo culpa facilis quidem qui, sunt
        adipisci!
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>ACTION</button>
      <button mat-button>ACTION</button>
    </mat-card-actions>
  </mat-card>
</div>
